.navbar {
    background-color: #92badd;
    padding: 10px;
  }
  
  .navbar-toggler {
    border: none;
    padding: 0;
    background-color: transparent;
  }
  
  .navbar-toggler-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(0, 0, 0, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"%3E%3C/path%3E%3C/svg%3E');
  }
  
  .navbar-collapse {
    text-align: center;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
  }
  
  .nav-item {
    display: inline-block;
    margin-right: 10px;
  }
  
  .nav-link {
    color: #022536;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #5fbae9;
    border-bottom: 2px solid #5fbae9;
  }
  p.active{
    color:#5fbae9
  }
  