.modal{
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);
    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9640c;
    color: #022536;
    font-weight: bold;
}

.logout{
    background-color: #e9640c !important;
    color: #022536 !important;
    margin: auto;
    border-radius: 12px;
    align-items: center;
    font-weight: bold;
}